[Unit]
Description=Timer that updates tealdeer cache for tldr

[Timer]
OnCalendar=weekly
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target
